<div class="stripe white-stripe reports-list">
  <div class="waistcoat">
    {{#reports}}
      <a href="/reports/{{id}}" class="report">
        <div class="report-summary">
          <h3 class="report-name">{{name}}</h3>

          <div class="report-author">
            Created by
            {{{avatar author/email 18 author/name}}}
            <span class="report-author-name">{{author/name}}</span>
            <span class="report-age">{{{timeago created}}}</span>
          </div>
        </div>
      </a>
    {{/reports}}
  </div>
</div>
