<!DOCTYPE html>
<html>
<head>
  <title>Query</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" />
  <link href="http://fonts.googleapis.com/css?family=PT+Serif:700italic" rel="stylesheet" type="text/css" />
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  
  <header class="stripe">
    <div class="waistcoat">
      <a href="/" class="logo">Query</a>
      <a href="/reports/new" class="btn btn-primary">New</a>
      <%= link_to avatar_for(current_user, size: 64), signout_path, class: "btn-signout" %>
    </div>
  </header>
  
  <%= yield %>
  
</body>
</html>
